/* PROPRIEDADES PERSONALIZADAS */

:root {
    --cor-do-fundo: #FFFFFF;
    --cor-do-nome-da-empresa: #3A404E;
    --cor-dos-links-menu: #667085;
    --cor-do-link-botao-menu: #FFFFFF;
    --cor-dos-destaques: #8E2424;
    --cor-do-titulo-subtitulos: #101828; 
    --cor-do-texto: #667085;  
    --cor-do-texto-rodape: #98A2B3;
    --cor-do-fundo-botao-menu-rodape: #8E2424;
    --cor-da-borda: #EAECF0;
    --fonte-principal: 'Inter';
}

/* CORPO DA PÁGINA */

body {
    background-color: var(--cor-do-fundo);
    font-family: 'Inter';
    width: 100%;
}

/* CABEÇALHO */

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 500%;
    padding: 1.1em 5em;
}

.cabecalho__comeco {
    display: flex;
    gap: 8px;
}

.cabecalho__meio {
    display: flex;
    justify-content: center;
    margin-right: 23.7em;
    gap: 32px;
}

.cabecalho__fim{
    display: flex;
    align-items: center;
    gap: 12px;
}

.nome__empresa {
    font-size: 1.1em;
    font-weight: 500;
    color: var(--cor-do-nome-da-empresa);
}

a {
    font-size: 1em;
    font-weight: 500;
    color: var(--cor-dos-links-menu);
}

.botao__menu {
    padding: 0.6em 1.1em;
    background-color: var(--cor-do-fundo-botao-menu-rodape);
    border-radius: .5em;
    color: var(--cor-do-link-botao-menu);
}

/* PRIMEIRA SESSÃO - SOBRE NÓS */

.conteudo {
    text-align: center;
    padding-top: 96px;
}

.conteudo span {
    color: var(--cor-dos-destaques);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 24px;
}

.conteudo h1 {
    color: var(--cor-do-titulo-subtitulos);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 24px;
}

.conteudo p {
    color: var(--cor-do-texto);
    font-size: 20px;
    font-weight: 1.2rem;
    line-height: 30px;
    margin: 0 auto;
    max-width: 791px;
}

/* SEGUNDA SESSÃO - DADOS */

.dados {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    gap: 32px;
}

.dados span {
    color: var(--cor-dos-destaques);
    font-size: 3.7rem;
    font-weight: 600;
}

.dados h2 {
    color: var(--cor-do-titulo-subtitulos);
    font-size: 1.1rem;
    font-weight: 500;
}

.dados p {
    font-size: 1rem;
    font-weight: 400;
    max-width: 280px;
    line-height: 24px;
}

/* TERCEIRA SESSÃO - TALENTOS */

.conteudo.talentos {
    margin-top: 96px;
}

.conteudo.talentos span {
    background-color: rgb(142, 36, 36, .1);
    border-radius: 16px;
    padding: .2em .7em;
    font-size: .8rem;
    font-weight: 500;
}

.conteudo.talentos h2 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 44px;
    color: var(--cor-do-titulo-subtitulos);
}

.conteudo.talentos p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 64px;
}

.conteudo.talentos img {
    width: 1280px;
    max-width: 90%;
}

/* QUARTA SESSÃO - VAGAS */

.vagas {
  width: 768px;
  max-width: 90%;
  margin: 0 auto;
}

.vagas div {
    margin-top: 4rem;
}

.vagas h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--cor-do-titulo-subtitulos);
    line-height: 30px;
    margin-bottom: 2rem;
}

.vagas ul {
    list-style-type: none;
    border-radius: 16px;
    padding: 1.5rem;
    border: 1px solid var(--cor-da-borda);
}

.vagas li {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--cor-do-titulo-subtitulos);
    margin-bottom: 32px;
}

.vagas p {
    display: inline;
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-do-texto);
    margin-right: 24px;
}

/* QUINTA SESSÃO - DEPOIMENTOS */

.depoimentos {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
}

.depoimentos div {
    padding: 4rem;
    background-color: rgb(195, 25, 25, .03);
    margin-bottom: 96px;
}

.depoimentos span {
    font-size: .8rem;
    font-weight: 600;
    line-height: 20px;
}

.depoimentos h2 {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 44px;
    color: var(--cor-do-titulo-subtitulos);
}

.depoimentos > div > p:nth-child(4) {
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    padding: 16px 0 4px;
    color: var(--cor-do-titulo-subtitulos);
}

.depoimentos p {
    font-size: .8rem;
    font-weight: 400;
    line-height: 20px;
}

/* RODAPÉ */

footer {
    background-color: #F9FAFB;
}

.rodape {
    width: 832px;
    max-width: 90%;
    margin: 0 auto;
}

.rodape h2 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--cor-do-titulo-subtitulos);
    line-height: 44px;
}

.rodape p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 40px;
}

.rodape input {
    width: 360px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    margin-right: 16px;
    padding: 12px 16px;
}

.rodape label > a {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: var(--cor-do-link-botao-menu);
    padding: 12px 20px;
    background-color: var(--cor-do-fundo-botao-menu-rodape);
    border-radius: 8px;
    display: inline-block;
}

.rodape p:nth-child(5) {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-top: 32px;
    padding-bottom: 96px;
    color: var(--cor-do-texto-rodape);
}