:root {
    --cor-do-fundo: #FFFFFF;
    --cor-do-nome-da-empresa: #3A404E;
    --cor-dos-links-menu: #667085;
    --cor-do-link-botao-menu: #FFFFFF;
    --cor-dos-destaques: #8E2424;
    --cor-do-titulo-subtitulos: #101828; 
    --cor-do-texto: #667085;  
    --cor-do-texto-rodape: #98A2B3;
    --cor-do-fundo-botao-menu-rodape: #8E2424;
    --fonte-principal: 'Inter';
}

body {
    background-color: var(--cor-do-fundo);
    font-family: 'Inter';
    width: 100%;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 500%;
    padding: 1.1em 5em;
}

.cabecalho__comeco {
    display: flex;
    gap: 8px;
}

.cabecalho__meio {
    display: flex;
    justify-content: center;
    margin-right: 23.7em;
    gap: 32px;
}

.cabecalho__fim{
    display: flex;
    align-items: center;
    gap: 12px;
}

.nome__empresa {
    font-size: 1.1em;
    font-weight: 500;
    color: var(--cor-do-nome-da-empresa);
}

a {
    font-size: 1em;
    font-weight: 500;
    color: var(--cor-dos-links-menu);
}

.botao__menu {
    padding: 0.6em 1.1em;
    background-color: var(--cor-do-fundo-botao-menu-rodape);
    border-radius: .5em;
    color: var(--cor-do-link-botao-menu);
}

.conteudo {
    text-align: center;
    padding-top: 96px;
}

.conteudo span {
    color: var(--cor-dos-destaques);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 24px;
}

.conteudo h1 {
    color: var(--cor-do-titulo-subtitulos);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 24px;
}

.conteudo p {
    color: var(--cor-do-texto);
    font-size: 20px;
    font-weight: 1.2rem;
    line-height: 30px;
    margin: 0 auto;
    max-width: 791px;
}

.dados {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    gap: 32px;
}

.dados span {
    color: var(--cor-dos-destaques);
    font-size: 3.7rem;
    font-weight: 600;
}

.dados h2 {
    color: var(--cor-do-titulo-subtitulos);
    font-size: 1.1rem;
    font-weight: 500;
}

.dados p {
    font-size: 1rem;
    font-weight: 400;
    max-width: 280px;
    line-height: 24px;
}